@{
    ViewData["Title"] = "Home Page";
}

<div class="px-4 py-5 my-5 text-center">
    <!--<img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
    <h1 class="display-5 fw-bold text-body-emphasis mb-4">Spot It!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Bem vindo ao Spot It! Com este site você pode pesquisar pontos turísticos e ver a experiências que outras
            pessoas tiveram com ele. Faça login para compartilhar sua opinão sobre pontos turísticos e ter acesso completo sobre 
            todas as expiriêcias que se tem dele</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-3">
            <a asp-controller="Account" asp-action="Login" class="btn btn-success btn-lg px-4 gap-3">Login</a>
            <a asp-controller="Account" asp-action="Register" class="btn btn-outline-secondary btn-lg px-4">Register</a>
        </div>
        <a asp-controller="TouristAttraction" asp-action="Index" class="btn btn-primary btn-lg px-4">Atrações turísticas</a>
    </div>
</div>